.text-center {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn-primary:active {
  transform: scale(0.95);
}

.gap-3 {
  gap: 15px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.ilan{
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 12px;
  padding: 16px 24px ;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
}

.oy{
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 12px;
  padding: 16px 24px ;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);
}